<?xml version="1.0" encoding="UTF-8"?>
<launch>
    
    <arg name="sim" default="true"/>

    <!-- Load PlayMotion Navigation Pose -->
    <rosparam command="load" file="$(find tiago_clf_nav)/config/tiago_nav_motions.yaml" />

    <!-- Run move_base_flex -->
    <node name="mbf_2d_nav_server" pkg="mbf_costmap_nav" type="mbf_costmap_nav" clear_params="true" output="screen">
        <rosparam param="planners">[{'name':'global','type':'global_planner/GlobalPlanner'},{'name':'carrot','type':'carrot_planner/CarrotPlanner'},{'name':'navfn','type':'navfn/NavfnROS'}]</rosparam>
        <rosparam param="controllers">[{'name':'trajectory','type':'base_local_planner/TrajectoryPlannerROS'},{'name':'dwa','type':'dwa_local_planner/DWAPlannerROS'}]</rosparam>
        <rosparam param="recovery_behaviors">[{'name':'ccr','type':'clear_costmap_recovery/ClearCostmapRecovery'},{'name':'msc','type':'move_slow_and_clear/MoveSlowAndClear'},{'name':'rotate','type':'rotate_recovery/RotateRecovery'}]</rosparam>
        
        <remap from="cmd_vel" to="nav_vel"/>
        <remap from="odom"    to="mobile_base_controller/odom"/>

        <rosparam file="$(find tiago_clf_nav)/config/move_base.yaml" command="load" />

        <rosparam file="$(find tiago_clf_nav)/config/costmap.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find tiago_clf_nav)/config/global_costmap.yaml" command="load" />

        <rosparam file="$(find tiago_clf_nav)/config/costmap.yaml" command="load" ns="local_costmap" />
        <rosparam if="$(arg sim)" file="$(find tiago_clf_nav)/config/local_costmap_sim.yaml" command="load" />
        <rosparam unless="$(arg sim)" file="$(find tiago_clf_nav)/config/local_costmap.yaml" command="load" />

        <rosparam if="$(arg sim)" file="$(find tiago_clf_nav)/config/local_planner_sim.yaml" command="load" />
        <rosparam unless="$(arg sim)" file="$(find tiago_clf_nav)/config/local_planner.yaml" command="load" />

        <rosparam file="$(find tiago_clf_nav)/config/global_planner.yaml" command="load" />
    </node>
    
    <node name="move_base_legacy_relay" pkg="mbf_costmap_nav" type="move_base_legacy_relay.py" output="screen"/>
    
    <!-- Start laser filters -->
    <group if="$(arg sim)"> <!-- started on robot pal_startup/clf_lase_filters -->
        <include file="$(find tiago_clf_nav)/launch/filters.launch">
            <arg name="sim" value="$(arg sim)"/>
        </include>
    </group>
    
</launch>
